<link rel="stylesheet" href="content/passwordpolicy/passwordpolicy.css">
<div ng-include="'common/nextPage.html'"></div>
<div class="container main-container pr">
    <div style="display: inline-flex;margin-top: 45px;" ng-show="!flagMemberListAvail">
        <div style="display:flex;margin-left: 45px;">
            <h3 class="txt-color-primary" style="margin-top: 13px;margin-right: 15px;font-size: 19px;">Password Policy
            </h3>
            <div class="btn-help" ng-click="showHelpPopup()" style="margin-top: 8px;margin-right: 15px;"><i class="fa fa-question-circle" style="position: relative;left: -0.5px;"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="tab-content">
                <div class="col-md-12">
                    <div>
                        <label class="txt-color-primary acitvity-txt">Policy Setup
                            <label class="switch">
                                <input type="checkbox" ng-model="passwordPolicy.isEnable"
                                    ng-change="setPolicy(passwordPolicy.isEnable == true ? true : false)" style="margin-left: 3px;">
                                <span class="slider round"></span>
                            </label>
                        </label>

                    </div>
                    <div class="col-md-10" ng-if="passwordPolicy.isEnable">
                        <div style="margin-top: 3px;">
                            <label class="lbl-input notice-title">Minimum Password Length</label>
                            <input class="form-control input-document-name" name="passlength" ng-model="passwordPolicy.minPasswdLength" type="text" style="left: 118px;position: relative;">
                        </div>
                        <div style="margin-top: 12px;">
                            <label class="lbl-input notice-title">Minimum Alphabets In Password</label>
                            <input class="form-control input-document-name" name="minAlphabetic" ng-model="passwordPolicy.minAlphabetic" type="text" maxlength="50" style="left: 85px;position: relative;">
                        </div>
                        <div style="margin-top: 12px;">
                            <label class="lbl-input notice-title">Minimum Number In Password</label>
                            <input class="form-control input-document-name" name="minNumeric" ng-model="passwordPolicy.minNumeric" type="text" maxlength="50" style="left: 99px;position: relative;">
                        </div>
                        <div style="margin-top: 12px;">
                            <label class="lbl-input notice-title">Minimum Special Characters In Password</label>
                            <input class="form-control input-document-name" name="minSpecialChar" ng-model="passwordPolicy.minSpecialChar" type="text" maxlength="50" style="right: -32px;position: relative;">
                        </div>
                        <div style="margin-top: 12px;">
                            <label class="lbl-input notice-title"> Reset Password After(Days)</label>
                            <input class="form-control input-document-name" name="maxLifeTimeInDays" ng-model="passwordPolicy.maxLifeTimeInDays" type="text" maxlength="50" style="left: 118px;
                            ;position: relative;">
                        </div>
                        <div style="margin-top: 12px;">
                            <label class="lbl-input notice-title">Check Number Of Last Passwords For Duplication</label>
                            <input class="form-control input-document-name" name="checkLastPasswd" ng-model="passwordPolicy.checkLastPasswd" type="text" maxlength="50" style="right: 17px;
                            position: relative;">
                        </div>
                        <div style="margin-top: 12px;">
                            <label class="lbl-input notice-title">Policy Type</label>
                            <input class="form-control input-document-name" name="policyType" ng-model="passwordPolicy.policyType" type="text" maxlength="50" style="left: 16em;position: relative;">
                        </div>
                        <div>
                            <div>
                                <button class="btn-add-cost-data" ng-click="savepolicy()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'common/help_popup.html'"></div>

<!-- <form name="savepolicyForm" id="create-new-policy" ng-submit="savepolicy(savepolicyForm)"
novalidate>
</form> -->