.contact-usr-card {
    height: 16em;
    /*list-style: none;
    float: left; */
    margin: 0px;
    border-radius: 4px;
    padding: 10px 10px 10px;
    background: white;
    border: 1px solid #c5bbbb;
    box-shadow: 0px 2px 12px 0px rgba(207, 205, 207, 1);
    border: 4px solid transparent;
    width: 100%;
}

.contact-usr-card:hover {
    -webkit-box-shadow: 0px 2px 30px 1px rgba(189, 187, 189, 1);
    -moz-box-shadow: 0px 2px 30px 1px rgba(189, 187, 189, 1);
    box-shadow: 0px 2px 30px 1px rgba(189, 187, 189, 1);
}

.tab-content {
    /* padding: 14px; */
    margin-left: 46px;
    padding-top: 0px;
    margin-top: 13px;
    height: 500px;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgb(226, 226, 226);
    -moz-box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 1);
    box-shadow: 0px 0px 5px 1px rgb(226, 226, 226);
}

.tab-contain {
    display: inline-flex;
    margin-top: 20px;
}

.notice-head {
    margin-top: 13px;
    margin-right: 15px;
    font-size: 19px;
}

.help-txt {
    margin-top: 8px;
    margin-right: 15px;
}

.help-icon {
    position: relative;
    left: -0.5px;
}

.notice-title {
    font-size: 14px;
    color: #4b4795;
    position: relative;
    right: 25px;
}

.input-document-name {
    width: 33%;
    display: inline-block;
    /* height: 34px;
    border: 1px solid #cec3c3;
    border-radius: 5px;
    margin-top: 4px;
     padding: 12px;*/
}

.lbl-dept {
    font-size: 14px;
    color: #4b4795;
    position: relative;
    right: 23px;
    top: 12px;
}

.dept-toggle {
    margin-top: 4px;
    position: relative;
    top: 1px;
    width: 52%;
    left: 2px;
    height: 40px;
}

.toggle-icon {
    float: right;
    margin-top: 2px;
}

.lbl-date {
    font-size: 14px;
    color: #4b4795;
    position: relative;
    right: 12px;
    top: 7px;
}

.input-date {
    width: 52%;
    margin-top: 4px;
    position: relative;
    right: -24px;
}

.notice_msg {
    position: relative;
    right: 88px;
    font-size: 16px;
    color: #4b4795;
}

.input-msg {
    position: relative;
    padding: 12px;
    margin-top: 4px;
    width: 30em;
    height: 8em;
    right: 90px;
    border: 1px solid #cec3c3;
    border-radius: 5px;
}

.add-btn {
    width: 72px;
    /* right: -10.6em; */
    left: 14em;
    position: relative;
    top: 9em;
    /* width: 72px;
    right: 4.4em;
    position: relative;
    top: 7em;
    float: right; */
}

.contain-head {
    margin-top: 2em;
}

.vrt-tab-container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.lbl-txt {
    font-size: 12px;
    color: #4b4795;
}

.edit-icon {
    font-size: 16px;
    float: right;
    color: red;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 5px;
}

.btn-add-cost-data {
    width: 66px;
    height: 35px;
    background: #4b4795;
    border: none;
    border-radius: 3px;
    color: white;
    bottom: 47px;
    margin-left: 18em;
    margin-top: 35px;
    /* width: 66px;
    height: 35px;
    background: #4b4795;
    border: none;
    border-radius: 3px;
    color: white;
    bottom: 47px;
    position: absolute;
    right: -16px; */
}


/*----Slider-----*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    top: 2px;
    margin: 2% 5%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8792D6;
}

input:focus+.slider {
    box-shadow: 0 0 1px #8792D6;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

[pad20] {
    padding: 20px;
}

[pad15] {
    padding: 15px;
}

.extra .select-field {
    background: #EFEFEF;
    color: #A2A2A2;
}

.selected .form-control[disabled] {
    background: #A2ABDF;
}

.selected .select-icon {
    top: 26px;
}

.editSelect .select-field {
    width: 90%;
}

.editSelect .select-icon {
    right: 30px !important;
}

.select-field {
    border: none;
    background: #A2ABDF;
    border-radius: 0px;
    color: #FFF;
}

.select-field option {
    background: #FFF;
    color: #000;
}

.select-field .Select-disabled {
    background: #CCC;
}

.select-field option::-webkit-scrollbar {
    width: 0 !important
}

.acitvity-txt {
    font-size: 16px;
    margin-top: 9px;
    margin-left: 16px;
    display: block;
}

.error {
    color: red;
}