<style>
    .btn-reset {
        background: #4b4794;
        color: #ffffff;
    }

    .resetBtn {
        width: 30%;
        margin: 0 auto;
        margin-top: 4%;
    }

    .error {
        color: red;
    }
    
/* password policy  */

* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */


/* The message box is shown when the user clicks on the password field */
#message {
  display:block;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 1px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>
<section class="content" style="background: #4B4794;height: 789px;">
    <div class="container main-container" style="position: relative;top: 8em;left: 21em;">
        <div class="col-md-6" style="margin: 0 auto;">
            <div class="well">
                <div class="padding-top-and-bottom-fiftheen-px align-text-center hidden-sm hidden-xs">
                    <i class="fa fa-unlock-alt"
                        style="width: 65px; height: 65px; font-size: 45px; margin: 0 auto 8px; padding-top: 7px; padding-left: 17px; display: block; border: solid 1px #CDCDCD; color: #CECECE; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;"></i>
                </div>
                <form name="resetAccountForm" ng-submit="resetPassword(resetAccountForm.$valid)"
                    novalidate="novalidate">
                    <div class="input-filed form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="UserPasswordMatch"><i class="fa fa-lock"
                                    title="Choose password"></i></span>
                            <input type="password" class="form-control" id="pass" ng-model="password" name="pass"
                                required title="Current password" placeholder="Current password" />
                        </div>
                    </div>
                    <div class="input-filed form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="UserPassword"><i class="fa fa-unlock-alt"
                                    title="Choose password"></i></span>
                            <input type="password" class="form-control" id="newPass" ng-model="newPassword"
                                name="newPassword" ng-keyup="checkPassPolicy()" ng-maxlength="16" required
                                title="New password" placeholder="New password" />
                        </div>
                        <p class="error"
                            ng-show="resetAccountForm.newPassword.$error.required && resetAccountForm.newPassword.$dirty">
                        </p>
                        <p class="error" ng-show="resetAccountForm.newPassword.$error.maxlength">
                            {{ langTranslate.Passwordmustbemaximumof16characters }} .</p>
                        <p class="error" ng-show="resetAccountForm.newPassword.$error.minlength">
                            {{ langTranslate.Passwordmustbeminimumof8characters }}.</p>
                        <div id="message" ng-if="flagPass">
                            <h3>Password must contain the following: </h3>
                            <p id="letter"
                                ng-class="{'valid':policyObj.lowerCaseValid,'invalid':!policyObj.lowerCaseValid}">{{minAlphabetic}}
                                <b>Alphabet</b> letter</p>
                            <p id="number" ng-class="{'valid':policyObj.numberValid,'invalid':!policyObj.numberValid}">{{ minNumeric}}
                                <b>number</b></p>
                            <p id="special"
                                ng-class="{'valid':policyObj.specialValid,'invalid':!policyObj.specialValid}">{{ minSpecialChar}}
                                <b>Special</b>character</p>
                            <p id="length" ng-class="{'valid':policyObj.lengthValid,'invalid':!policyObj.lengthValid}">
                                Minimum <b>{{minPasswdLength}}
                                    characters</b></p>
                        </div>
                    </div>
                    <div class="input-filed form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="UserPasswordMatch"><i class="fa fa-lock"
                                    title="Choose password"></i></span>
                            <input type="password" class="form-control" id="matchPass" ng-model="passwordMatch"
                                name="passwordMatch" ng-maxlength="16" ng-minlength="8" required
                                compare-to="newPassword" title="Confirm password" placeholder="Confirm password" />
                        </div>
                        <p class="error"
                            ng-show="resetAccountForm.passwordMatch.$error.required && resetAccountForm.passwordMatch.$dirty">
                        </p>
                        <p class="error" ng-show="resetAccountForm.passwordMatch.$error.maxlength">
                            {{ langTranslate.Passwordmustbeminimumof8characters }}.</p>
                        <p class="error" ng-show="resetAccountForm.passwordMatch.$error.minlength">
                            {{ langTranslate.Passwordmustbeminimumof8characters }}.</p>
                        <p class="error " ng-show="resetAccountForm.passwordMatch.$error.compareTo">

                            {{ langTranslate.NewPasswordandConfirmPassworddonotmatch }} .

                        </p>
                    </div>

                    <div class="resetBtn">
                        <button class="btn btn-block btn-reset" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>